 /*handsontable*/
.fixed-container {
    width: 584px;
    height: 320px;
    overflow: hidden;
}

/*jquery-tree*/
.log-table {

}

.blueText{
    color:blue;
}

.spanAsHint {
    font-style: italic;
    font-size: small;
}
